
.line {
    line-height: 1.0;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

.halfTextContainer {
    position: relative;
}

.halfText {
    color: transparent;
}

.halfText::before {
    content: attr(text);
    position: absolute;
    left: 0;
    top: 1px;
    width: 50%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
}

.halfText::after {
    content: attr(text);
    position: absolute;
    left: 50%;
    top: 1px;
    width: 50%;
    user-select: none;
    pointer-events: none;
    overflow: hidden;
    direction: rtl;
}

.keepSpace {
    white-space: pre;
}

/* color */

.f30 {
    color: #000000;
}

.f31 {
    color: #800000;
}

.f32 {
    color: #008000;
}

.f33 {
    color: #808000;
}

.f34 {
    color: #000080;
}

.f35 {
    color: #800080;
}

.f36 {
    color: #008080;
}

.f37 {
    color: #C0C0C0;
}

.bf30 {
    color: #808080;
}

.bf31 {
    color: #FF0000;
}

.bf32 {
    color: #00FF00;
}

.bf33 {
    color: #FFFF00;
}

.bf34 {
    color: #0000FF;
}

.bf35 {
    color: #FF00FF;
}

.bf36 {
    color: #00FFFF;
}

.bf37 {
    color: #FFFFFF;
}

.b40 {
    background-color: #000000;
}

.b41 {
    background-color: #800000;
}

.b42 {
    background-color: #008000;
}

.b43 {
    background-color: #808000;
}

.b44 {
    background-color: #000080;
}

.b45 {
    background-color: #800080;
}

.b46 {
    background-color: #008080;
}

.b47 {
    background-color: #C0C0C0;
}

.left_f30::before {
    color: #000000;
}

.left_f31::before {
    color: #800000;
}

.left_f32::before {
    color: #008000;
}

.left_f33::before {
    color: #808000;
}

.left_f34::before {
    color: #000080;
}

.left_f35::before {
    color: #800080;
}

.left_f36::before {
    color: #008080;
}

.left_f37::before {
    color: #C0C0C0;
}

.left_bf30::before {
    color: #808080;
}

.left_bf31::before {
    color: #FF0000;
}

.left_bf32::before {
    color: #00FF00;
}

.left_bf33::before {
    color: #FFFF00;
}

.left_bf34::before {
    color: #0000FF;
}

.left_bf35::before {
    color: #FF00FF;
}

.left_bf36::before {
    color: #00FFFF;
}

.left_bf37::before {
    color: #FFFFFF;
}

.left_b40::before {
    background-color: #000000;
}

.left_b41::before {
    background-color: #800000;
}

.left_b42::before {
    background-color: #008000;
}

.left_b43::before {
    background-color: #808000;
}

.left_b44::before {
    background-color: #000080;
}

.left_b45::before {
    background-color: #800080;
}

.left_b46::before {
    background-color: #008080;
}

.left_b47::before {
    background-color: #C0C0C0;
}

.right_f30::after {
    color: #000000;
}

.right_f31::after {
    color: #800000;
}

.right_f32::after {
    color: #008000;
}

.right_f33::after {
    color: #808000;
}

.right_f34::after {
    color: #000080;
}

.right_f35::after {
    color: #800080;
}

.right_f36::after {
    color: #008080;
}

.right_f37::after {
    color: #C0C0C0;
}

.right_bf30::after {
    color: #808080;
}

.right_bf31::after {
    color: #FF0000;
}

.right_bf32::after {
    color: #00FF00;
}

.right_bf33::after {
    color: #FFFF00;
}

.right_bf34::after {
    color: #0000FF;
}

.right_bf35::after {
    color: #FF00FF;
}

.right_bf36::after {
    color: #00FFFF;
}

.right_bf37::after {
    color: #FFFFFF;
}

.right_b40::after {
    background-color: #000000;
}

.right_b41::after {
    background-color: #800000;
}

.right_b42::after {
    background-color: #008000;
}

.right_b43::after {
    background-color: #808000;
}

.right_b44::after {
    background-color: #000080;
}

.right_b45::after {
    background-color: #800080;
}

.right_b46::after {
    background-color: #008080;
}

.right_b47::after {
    background-color: #C0C0C0;
}