// @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@media only screen 
and (min-width: 1300px),
screen 
and (min-height: 680px) {
    .container {
        font-size: 28px;
    }
}

@media only screen 
and (max-width: 1300px)
and (min-width: 1200px),
screen 
and (max-height: 680px)
and (min-height: 620px) {
    .container {
        font-size: 1.625em;
    }
}

@media only screen 
and (max-width: 1200px)
and (min-width: 1100px),
screen 
and (max-height: 620px)
and (min-height: 550px) {
    .container {
        font-size: 1.5em;
    }
}

@media only screen 
and (max-width: 1100px)
and (min-width: 880px),
screen 
and (max-height: 550px)
and (min-height: 500px) {
    .container {
        font-size: 1.375em;
    }
}

@media only screen 
and (max-width: 880px)
and (min-width: 680px),
screen 
and (max-height: 500px)
and (min-height: 420px) {
    .container {
        font-size: 1em;
    }
}

@media only screen 
and (max-width: 680px)
and (min-width: 520px) {
    .container {
        font-size: 0.75em;
    }
}

@media only screen 
and (max-width: 520px),
screen
and (max-height: 420px) {
    .container {
        font-size: 0.625em;
    }
}

#mainWindow {
    position: relative;
}

#cursor {
    display: inline-block;
    font-family : MingLiu,SymMingLiU,monospace;
    font-weight: bold;
    color: rgb(97, 255, 23);
    user-select: none;
}

#bbsInput {
    display: flex;
    position: fixed;
    font-size: 3.2vh;
    width: 70%;
    border: none;
    outline: none;
    color: wheat;
    background-color: transparent;
    left: 15%;
    bottom: 0px;
}

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 100vh;
    transform: translateX(-140px);
    transition: transform 300ms cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    flex-direction: row;
    z-index: 20;
}

.menu:hover {
    transform: translateX(0%);
}

.navigation {
    background: #685f5f;
    width: 140px;
}

.menuSpace {
    background: transparent;
    width: 20px;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.keepSpace {
    white-space: pre;
}

.mainContainer {
    background: #000000;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
}

.cursor {
    background: #000000;
}

.container {
    display: flex;
    padding: 0%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 98vw;
    letter-spacing: 0px;
    color: #9c4747;
    font-family: MingLiu,SymMingLiU;
    transition:font-size 0.2s ease-out;
}

.bbsWrapper {
    display: inline-block;
}
